@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Saira', sans-serif;
  background-color: rgb(50, 47, 47);
}

/* define the layer of utility for the animation "loading"*/
@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

  .font-saira {
    font-family: 'Saira', sans- serif;
  }

  /* Animated gradient for text */
  .animated-text-gradient {
    background: linear-gradient(90deg, #ffffff, #fcd34d, #ffffff);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientShift 4s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
